
/* Page */

.body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;
    background-color: #bfddfc;
}


/* Heading */

.h1 {
    color: #0F172A;
    font-size: 32px;
    margin-bottom: 30px;
}


/* Inputs */

#expenseInput,
#amount {
    width: 250px;
    padding: 12px;
    margin-bottom: 12px;

    border: 2px solid #2cbe82;
    border-radius: 6px;

    font-size: 15px;
}


/* Input focus */

#expenseInput:focus,
#amount:focus {
    outline: none;
    border-color: #2563EB;
}


/* Add Expense Button */

.button {
    padding: 12px 25px;

    background-color: #2563eb;
    color: rgb(189, 233, 231);

    border: none;
    border-radius: 20px;

    cursor: pointer;
    font-size: 15px;
}


/* Button hover */

.button:hover {
    background-color: #1D4ED8;
}


/* Expense List */

#expenselist {
    width: 400px;
    margin: 30px auto;
    padding: 0;
    background-color: #475569;
}


/* Each expense */

#expenselist li {
    list-style: none;

    background-color: rgb(63, 170, 77);
color: #4a73ad;
    margin-bottom: 10px;
    padding: 12px;

    border-radius: 10px;

    box-shadow: 0 2px 6px rgba(155, 6, 6, 0.1);
}


/* Total */

.p {
    color: #DC2626;
    font-size: 22px;
    font-weight: bold;
}
